@use "sass:map";
@use "../theme" as *;

body {
	accent-color: $primary;
	background-color: $gray-200;
	overflow: hidden;

	[data-bs-theme="dark"] & {
		background-color: $black;
	}

	&.loading {
		cursor: progress;
	}
}

main {
	inset: var(--main-offset, $navbar-height) 0 0 0;
	overflow: auto;
	position: absolute;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

article {
	background-color: $body-bg;
	box-shadow: $box-shadow-sm;
	overflow: hidden;
	width: 100%;

	[data-bs-theme="dark"] & {
		background-color: $body-bg-dark;
	}

	@media screen and (width >= map.get($grid-breakpoints, md)) {
		border-radius: $border-radius;
		margin: map.get($spacers, 4) auto;
		max-width: map.get($container-max-widths, md);
	}

	> section {
		padding: $spacer;
	}
}

aside {
	background-color: $gray-100;
	border-bottom: $border-width solid $border-color;
	box-shadow: $box-shadow-sm;
	left: 0;
	padding: map.get($spacers, 2) 0;
	position: fixed;
	right: 0;
	top: $navbar-height;
	user-select: none;
	width: 100%;
	z-index: $zindex-fixed;

	[data-bs-theme="dark"] & {
		background-color: $gray-800;
		border-bottom-color: $black;
	}

	.icon {
		transform: scale(1.4);
	}
}
