body {
	accent-color: var(--bs-primary);
	overflow: hidden;
}

main {
	bottom: 0;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: var(--main-offset, var(--navbar-height));
}

@media (prefers-reduced-motion: no-preference) {
	main { scroll-behavior: smooth; }
}

article {
	background-color: var(--bs-white);
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 7.5%);
	overflow: clip;
	width: 100%;
}

@media screen and (min-width: 768px) {
	article {
		border-radius: var(--bs-border-radius-sm);
		margin: 1.5rem auto;
		max-width: 720px;
	}
}

article > section {
	padding: 1rem;
}
