// Color system.
$primary: #165898;

// Options.
$enable-shadows: true;
$variable-prefix: "";

// Body.
$body-text-align: start;

// Links.
$link-decoration: none;
$link-hover-decoration: underline;

// Typography.
$font-size-root: 14px;
