@use "../theme" as *;

.table-sticky {
	> thead {
		position: sticky;
		top: 0;
		z-index: $zindex-sticky;

		&::after {
			border-bottom: $border-width solid $border-color;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;

			[data-bs-theme="dark"] & {
				border-bottom-color: $border-color-dark;
			}
		}
	}

	> tbody {
		border-top: none !important;
	}
}
