@use "sass:map";
@use "../core/bootstrap" as *;

.navbar > div {
	@include make-container;
	max-width: map.get($container-max-widths, "lg");
}

.navbar-brand {
	img {
		position: relative;
		top: -1px;
	}
}
